<%= image_tag('car2.png', id: "header")%>
<div class="row">
  <div class="col-sm-4 col-md-3 col-lg-2">
    <div class="product-card">

      <div class="top-badge"><i class="fa fa-check"></i></div>
      <div class="card-header">

        <div class="name">
          Plazma keks
        </div>
        <span class="details"></span>
      </div>
      <div class="picture">  
        <%= image_tag('plazma150.png', class: "top")%>
        <div class="galery">
          <div class="col-lg-3 plazma75"></div>
          <div class="col-lg-3 plazma150"></div>
          <div class="col-lg-3 plazma300"></div>
          <div class="col-lg-3 plazma600"></div>
        </div>
      </div>
      
      <div class="card-body">
        <div class="description">
          Sadrži vitamine i minerale kao što su kalcijum, fosfor i gvožđe, koji omogućavaju pravilan razvoj, jačaju kosti i zube, regulišu metabolizam i okrepljuju.
        </div>

        <div class="info">
          <!-- <div class="link"><a href="">Detaljnije o proizvodu</a></div>
          <div class="price">1.20€</div> -->
        </div>
      </div>

      <div class="card-footer">
        <a class="category">Keks</a>
        <ul class="stats">
          
          <li>
            <i class="fa fa-star"></i> 588 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <div class="info-card">
      <div class="card-header">
        <div class="name">Nutritivne vrijednosti</div>
      </div>
      <div class="card-body">
        <div class="item-chart">
          <%= image_tag('chart-item.png')%>
        </div>
        <div class="amount-chart"></div>
      </div>
      <div class="card-footer">
        <div class="btn-group col-lg-12">  
          <button class="col-md-6 col-lg-6 btn btn-default " type="button">Po keksu</button>
          <button class="col-md-6 col-lg-6 btn btn-default " type="button">Na 100gr</button>
        </div>
      </div>
    </div>
  </div>
</div>
