<div class="teaser2">
	<div class="fluid-container">
		<div class="col-md-12">
			<div class="col-md-7 apl-name">proizvodi.me</div>
			<div class="col-md-4 col-md-offset-1 soon">
				<div class="border">USKORO</div>
			</div>
		</div>
		<div class="col-md-6 apl-info">Saznajte sve informacije o vasim omiljenim proizvodima, kao i kretanje njihovih cena</div>
		<div class="col-md-6 form">
			<div class="form-group">
				<div class="signup">Unesite Vasu e-mail adresu kako biste dobili sve informacije o aplikaciji</div>
				<div class="input-group">
					<input type="text" class="form-control i-style" placeholder="Vasa e-mail adresa">
					<span class="input-group-btn">
				    	<button class="btn btn-default btn-lg b-style" type="button">Prijavi se</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>