<div class="fluid-container teaser4">
	<div class="dotted">	
		<span class="circle a"></span>
		<span class="circle b"></span>
		<span class="circle c"></span>
		<span class="circle d"></span>
		<!-- <span class="circle e"></span> -->
		<span class="circle f"></span>
		<span class="circle g"></span>
		<span class="circle h"></span>
		<span class="circle i"></span>
		<span class="circle j"></span>
		<span class="circle k"></span>
		<span class="circle l"></span>
		<span class="circle n"></span>
		<span class="circle m"></span>
		<span class="circle o"></span>
		<span class="circle p"></span>
		<span class="circle q"></span>
		<span class="circle r"></span>
		<span class="circle s"></span>
		<span class="circle t"></span>
		<span class="circle u"></span>
		<span class="circle v"></span>
		<span class="circle w"></span>
		<span class="circle x"></span>
		<span class="circle y"></span>
		<span class="circle z"></span>
		<span class="circle aa"></span>
		<span class="circle ab"></span>
		<span class="circle ac"></span>
		<span class="circle ad"></span>
		<span class="circle ae"></span>
		<span class="circle af"></span>
		<span class="circle ag"></span>
		<!-- <span class="circle ah"></span>
		<span class="circle ai"></span>
		<span class="circle aj"></span>
		<span class="circle ak"></span>
		<span class="circle al"></span>
		<span class="circle an"></span>
		<span class="circle am"></span>
		<span class="circle ao"></span>
		<span class="circle ap"></span>
		<span class="circle ar"></span>
		<span class="circle as"></span>	 -->
	</div>
	<div class="col-md-12">	
		<p class="apl-name">proizvodi.me</p>
		<p class="apl-info">Sve informacije o vasim omiljenim proizvodima</p>
	</div>
	<form class="col-md-12">
		<div class="form-group">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group">
					<input type="text" class="form-control mysize" placeholder="Unesite Vasu e-mail adresu kako biste dobili sve informacije o aplikaciji">
					<span class="input-group-btn">
				    	<button class="btn btn-default btn-lg b-style" type="button">Prijavi se</button>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>