<div class="teaser1">
	<div class="fluid-container">		
		<div class="col-md-12">	
			<p class="apl-name">proizvodi.me</p>
			<p class="apl-info">Sve informacije o vasim omiljenim proizvodima</p>
		</div>
		<form class="col-md-12">
			<div class="form-group">
				<div class="col-md-6 col-md-offset-3">
					<div class="input-group">
						<input type="text" class="form-control mysize" placeholder="Unesite Vasu e-mail adresu kako biste dobili sve informacije o aplikaciji">
						<span class="input-group-btn">
					    	<button class="btn btn-default btn-lg b-style" type="button">Prijavi se</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>