<div class="fluid-container teaser3">
	<div class="col-md-12 first">
		<div class="sec">
			<div class="third">
				<div class="fourth">	
					<div class="apl-name">proizvodi.me</div>
					<div class="soon">U S K O R O</div>
					<div class="form-group form">
						<div class="col-md-10 col-md-offset-1">
							<div class="input-group">
								<input type="text" class="form-control i-style" placeholder="Za informacije unesite Vasu e-mail adresu ">
								<span class="input-group-btn">
							    	<button class="btn btn-default btn-lg b-style" type="button">Prijavi se</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>