<div class="fluid-container teaser">
	<div class="col-md-2 col-md-offset-5">
		<img src="<%= image_path('ideus.gif')%>">
	</div>
	<div class="col-md-12 apl-name">proizvodi.me</div>
	<form class="col-md-12">
		<div class="form-group">
			<div class="col-md-5">
				<div class="input-group">
					<input type="text" class="form-control i-style" placeholder="Za informacije o aplikaciji unesite Vasu e-mail adresu">
					<span class="input-group-btn">
				    	<button class="btn btn-default btn-lg b-style" type="button">Prijavi se</button>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>
