<div class="teaser1">
	<div class="fluid-container">
		<div class="col-md-8 col-md-offset-2">	
			<p class="apl-name">Hrani se zdravo, kupuj pametno</p>
			<div class="col-md-8 col-md-offset-2">
        <p class="apl-info">Da li imate problem da izaberete proizvod <br> koji je najbolji za vas ili vaše bližnje?</p>
		    <p class="apl-info">Mi imamo. Zato stvaramo <strong>Ideus</strong>, mjesto koje spaja ljude spremne da dijele znanje i informacije o proizvodima.</p>
        
        <div class="form-holder">    
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="Vaša e-mail adresa">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-lg btn-primary">Prijavi se</button>
                </span>
              </div>
            </div>
          </form>
          <p class="call-to-action">Ukoliko želiš da nam pomogneš prijavi se i postani deo Ideus zajednice.</p>
        </div>
      </div>
    </div>
	</div>
</div>