<div class="teaser1">
	<div class="container">
  	<div class="row">	
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">	
  			<p class="apl-name">Hrani se zdravo, kupuj pametno</p>
  			<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
          <div class="apl-info">  
            <p>Da li imate problem da izaberete proizvod koji je najbolji za vas ili vaše bližnje?</p>
            <p class="ai-marg">Mi imamo. Zato stvaramo <strong>Ideus</strong>, mjesto koje spaja ljude spremne da dijele znanje i informacije o proizvodima.</p>
          </div>
        </div>
      </div>      
    </div>  

    <div class="row">  
      <div class="form-holder col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 hidden-xs">    
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control input-lg" placeholder="Vaša e-mail adresa">
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg btn-success">Prijavi se</button>
              </span>
            </div>
          </div>
        </form>
        <p class="call-to-action">Ukoliko želiš da nam pomogneš prijavi se i postani deo Ideus zajednice.</p>
      </div>
      <div class="form-holder col-xs-12 visible-xs">    
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Vaša e-mail adresa"><br>

            <button class="btn btn-default btn-lg btn-success col-xs-12">Prijavi se</button>
          </div>
        </form>
        <p class="call-to-action">Ukoliko želiš da nam pomogneš prijavi se i postani deo Ideus zajednice.</p>
      </div>
    </div>
	</div>
</div>