<div class="teaser1">
	<div class="fluid-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">  
        <p class="app-name"><i class="fa fa-globe"></i> ideus</p>
      </div>
    </div>

    <div class="row">
  		<div class="col-md-6 col-md-offset-1">	
  			<p class="apl-name">Hrani se zdravo, kupuj pametno</p>
  	  </div>
		</div>

    <div class="row">  
      <div class="col-md-4 col-md-offset-1">
        <p class="apl-info">Da li imate problem da izaberete najbolji proizvod za vas ili vaše najbliže?</p>
  	    <p class="apl-info">Mi imamo. Zato stvaramo <strong>Ideus</strong>, online mjesto koje spaja ljude željne da nauče više o proizvodima kao i da to znanje podijele sa drugima.</p>
      </div>
    </div>
   
    <div class="row"> 
      <div class="col-md-5 col-md-offset-1">
        <div class="form-holder">    
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-md-9" style="padding-right: 5px;">
                <input type="text" class="form-control input-lg" placeholder="Vaša e-mail adresa">
              </div>
              <div class="col-md-3"  style="padding-left: 0px;">  
                <button class="btn btn-default btn-lg btn-primary">Prijavi se</button>
              </div>
            </div>
          </form>
          <p class="call-to-action">Ukoliko želiš da nam pomogneš prijavi se i postani deo Ideus zajednice.</p>
        </div>
      </div>
    </div>

	</div>
</div>