@import 'bootstrap';
@import 'bourbon';
@import 'neat';

$max-width: 100%;

$green: #47a447;
$blue: #2d719f;

.first {
	.fluid-container {
		font-family: "Lato", serif;
		background-color: white;
		.left {
			img {
				width: 90%;
				height: 90%;
				margin: 60% 0px 5% 0px;
			}
		}
		.right {
			.apl-name {
				font-size: 5em;
				margin: 35% 0px 2% 0px;
			}
			.line {
				@include size(70px 5px);
				background-color: $green;
			}
			.apl-info {
				font-size: 1.4em;
				margin: 4% 0px 13% 0px;
			}
			.form-inline {
				p {
					font-size: 1.7em;
					margin-bottom: 20px;
				}
				.mysize {
					width: 68%;
					height: 46px;
				}
				.btn {
					border-radius: 4px;
					width: 25%;
					margin-left: 1%;
				}
			}
		}
	}
}

.teaser {
	font-family: "Lato", serif;
	img {
		margin-top: 70%;
		@include transform(rotate(134deg));
	}
	.apl-name {
		text-align: center;
		font-size: 6.6em;
		color: $blue;
		font-weight: bold;
		margin-left: 4px;
	}
	form {
		font-size: 2em;
		.col-md-5 {
			@include shift(3.5);
		}
		.i-style {
			height: 46px;
		}
		.b-style {
			color: white;
			font-weight: bold;
			background-color: $green;
			border-color: $green;
		}
	}

}

.teaser1 {
	/*background-color: $blue;*/
  background-image: url('9857.jpg');
  background-size: 100% 100%;
	/*@include radial-gradient($blue*1.3, $blue);*/
	font-family: "Lato", sans-serif;
	color: white;
  height: 100%;
  font-size: 12px;

  .app-name {
    font-size:3em;
    /*padding-top: 30px;*/
    font-weight: bold;
    /*margin-left: -40px;*/
  }

	.apl-name {
		font-size:4em;
		padding-top: 10%;
		font-weight: bold;
	}
	.apl-info {
		font-size: 1.8em;
		margin-top: 30px;
    font-weight: 200;
	}
  .form-holder {
    padding: 30px 0px 10px 0px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*border-radius: 5px; */
  }
  .call-to-action {
    font-size: 1.4em;
    text-align: left;
    font-weight: bold;
  }
}

.teaser2 {
	.fluid-container {
		color: white;
		.col-md-12 {	
			background-color: $blue;
			display: inline-block;
			padding: 120px;
			.apl-name {
				font-size: 8em;
				/*background-color: $green;*/
			}
			.soon {
				background-color: #400035;
				font-size: 5em;
				font-weight: bold;
				text-align: center;
				padding: 15px;
				margin-top: 5px;
				.border {
					padding: 10px 0px;
					background-color: #400035;
					border: 8px solid white;
				}

			}
		}
		.col-md-6 {
			height: 365px;
			font-size: 1.8em;
			padding: 120px;
		}
		.apl-info {
			background-color: $blue/1.1;
		}
		.form {
			background-color: $blue/1.2;
			.input-group {
				margin-top: 30px;
				.i-style {
					height: 46px;
					border: 2px solid $green;
				}
				.b-style {
					color: white;
					background-color: $green;
					border-color: $green;
				}
			}
		}
	}
}


.teaser3 {
	font-family: "Lato", serif;
	.first {
		background-color: $blue;
		padding: 71px 100px;
		.sec {
			background-color: $blue*1.1;
			/*@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.15));*/
			padding: 71px 100px;
			border-radius: 5px;
			.third {
				background-color: $blue*1.2;
				/*@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.15));*/
				padding: 71px 100px;
				border-radius: 5px;
				.fourth {
					background-color: $blue*1.3;
					/*@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.15));*/
					padding: 42px 100px;
					border-radius: 5px;
					color: white;
					text-align: center;
					.apl-name {
						font-size: 5.3em;
						font-weight: bold;
					}
					.soon {
						font-size: 5.9em;
						margin-top: -35px;
					}
					.form {
						padding-bottom: 65px;
						.i-style {
							height: 46px;
							border: 2px solid $green;
						}
						.b-style {
							color: white;
							background-color: $green;
							border-color: $green;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

.teaser4 {
	@include clearfix;
	background-color: $blue;
	@include radial-gradient(#9BC9D7, #06789c);
	font-family: "Lato", serif;
	text-align: center;
	color: white;
	.dotted {	
		padding-top: 17.5%;
		.circle {
			@include size(10px 10px);
			display: inline-block;
			position: absolute;
			background-color: white;
			border-radius: 5px;
		}
		.a {
			margin: -55px 0px 0px -349px;
		}
		.b {
			margin: -38px 0px 0px -365px;
		}
		.c {
			margin: -21px 0px 0px -380px;
		}
		.d {
			margin: -2px 0px 0px -393px;
		}
		.f {
			margin: 19px 0px 0px -405px;
		}
		.g {
			margin: 41px 0px 0px -415px;
		}
		.h {
			margin: 64px 0px 0px -423px;
		}
		.i {
			margin: 88px 0px 0px -428px;
		}
		.j {
			margin: 113px 0px 0px -432px;
		}
		.k {
			margin: 137px 0px 0px -432px;
		}
		.l {
			margin: 161px 0px 0px -430px;
		}
		.m {
			margin: 187px 0px 0px -425px;
		}
		.n {
			margin: 210px 0px 0px -417px;
		}
		.o {
			margin: 233px 0px 0px -406px;
		}
		.p {
			margin: 254px 0px 0px -393px;
		}
		.q {
			margin: 273px 0px 0px -377px;
		}
		.r {
			margin: 289px 0px 0px -360px;
		}
		.s {
			margin: 304px 0px 0px -339px;
		}
		.t {
			margin: 315px 0px 0px -318px;
		}
		.u {
			margin: 323px 0px 0px -296px;
		}
		.v {
			margin: 328px 0px 0px -273px;
		}
		.w {
			margin: 330px 0px 0px -250px;
		}
		.x {
			margin: 330px 0px 0px -225px;
		}
		.y {
			margin: 328px 0px 0px -202px;
		}
		.z {
			margin: 323px 0px 0px -179px;
		}
		.aa {
			margin: 315px 0px 0px -157px;
		}
		.ab {
			margin: 304px 0px 0px -136px;
		}
		.ac {
			margin: 289px 0px 0px -115px;
		}
		.ad {
			margin: 273px 0px 0px -98px;
		}
		.ae {
			margin: 254px 0px 0px -83px;
		}
		.af {
			margin: 200px 0px 0px -60px;
		}
		.ag {
			margin: 177px 0px 0px -57px;
		}
	}
	.apl-name {
		font-size: 8em;
		font-weight: bold;
	}
	.apl-info {
		font-family: "Lemon", serif;
		font-size: 1.6em;
		margin-top: -1%;
		margin-top: -30px;
	}
	.text {
		text-align: center;
		font-size: 3.5em;
	}
	form {
		margin: 2% 0px 20% 0px;
		.mysize {
			height: 45px;
			border: 2px solid $green;
		}
		.b-style {
			background-color: $green;
			color: white;
			border-color: $green;	
			font-weight: bold;
		}
	}
}

.cue {
	@include outer-container;
	color: #818181;
	header {
		@include span-columns(12);
		position: fixed;
		padding: 10px 200px;
		background-color: white;
		opacity: 0.8;
		z-index: 100;
		a {
			@include span-columns(1);
			.logo {
				width: 100%;
			}
		}
		ul {
			@include span-columns(6);
			@include shift(1);
			margin-top: 25px;
			li {
				@include span-columns(1.2 of 6);
				display: inline-block;
				a {	
					@include span-columns(10);
					@include shift(1);
					img {
						margin-left: 20px;
					}
				}
				.name {
					display: none;
				}
			}
			.blue {
				&:hover {
					.logo {
						border-color: blue;
					}
					.name {
						display: block;
						color: blue;
						text-align: center;
						text-decoration: none;
					}
				}	
			}
			.purple {
				&:hover {
					.logo {
						border-color: purple;
					}
					.name {
						display: block;
						color: purple;
						text-align: center;
						text-decoration: none;
					}
				}	
			}
			.red {
				&:hover {
					.logo {
						border-color: red;
					}
					.name {
						display: block;
						color: red;
						text-align: center;
						text-decoration:  none;
					}
				}	
			}
			.yellow {
				&:hover {
					.logo {
						border-color: yellow;
					}
					.name {
						display: block;
						color: yellow;
						text-align: center;
						text-decoration: none;
					}
				}	
			}
			.green {
				&:hover {
					.logo {
						border-color: green;
					}
					.name {
						display: block;
						color: green;
						text-align: center;
						text-decoration: none;
					}
				}	
			}
		}
		button {
			@include span-columns(3);
			@include shift(1);
			background-color: #FCCE01;
			border-style: none;
			color: white;
			font-size: 1.7em;
			padding: 10px 0px;
			margin-top: 15px;
		}
	}
	.first {
		@include span-columns(12);
		@include clearfix;
		padding: 50px 200px;
		img {
			width: 100%;
			height: 515px;
		}
	}
	.second {
		@include span-columns(12);
		height: 615px;
		padding: 0px 200px;
		.left {
			@include span-columns(6);
			img {
				@include span-columns(11);
				margin-top: 110px;
			}
		}
		.right{
			@include span-columns(6);
			.title {
				font-size: 3em;
			}
			p {
				font-size: 1.2em;
				padding: 5px 0px;
			}
			#fifth {
				margin-top: 5%;
			}
			#sixth {
				margin-left: 55%;
			}
			#seventh {
				margin-left: 55%;
			}
			#eighth {
				margin-left: 52%;
			}
		}
	}
	.third {
		@include span-columns(12);
		@include clearfix;
		padding: 0px 200px;
		.myleft {
			@include span-columns(6.5);
			padding-top: 380px;
			.title {
				font-size: 3em;
			}
			p {
				font-size: 1.2em;
				padding: 8px 0px;
			}
		}
		.right {
			@include span-columns(5.5);
			background-image: url('mob.png');
			background-repeat: no-repeat;
			margin-top: 80px;
			.carousel {
				padding: 30px 30px;
				@include size(296px 525px);
				.carousel-inner {
					@include size(296px 525px);
					.item {
						@include size(296px 525px);
					}
					img {
						@include size(296px 525px);
					}
				}
			}
		}
	}
	.fourth {
		z-index: 10;
		img {
			width: 100%;
			height: 770px;
		}
		.right {
			@include span-columns(6);
			@include shift(6);
			position: relative;
			margin-top: -580px;
			.title {
				font-size: 3em;
			}
			p {
				font-size: 1.2em;
				padding: 8px 0px;
			}
		}
	}
	.six {
		background-color: #f3f3f4;
		padding-top: 60px;
		color: #808282;
		.f1 {
			background-color: #808282;
			padding: 10px 200px;
			span {
				img {
					width: 14%;
					margin: 1%;
				}
			}
		}
		.padding {
			padding: 0px 200px;	
			.f2 {
				@include span-columns(10);
				@include shift(1);
				text-align: center;
				font-size: 2em1.8em;
				border-bottom: 1px solid #818181;
				padding: 25px 0px 15px 0px;
				span {
					margin: 0px 14px;
				}
			}
			.f3 {
				@include span-columns(10);
				@include shift(1);
				text-align: center;
				font-size: 1.8em;
				text-align: center;
				border-bottom: 1px solid #818181;
				padding: 45px 0px 65px 0px;
				input {
					border-radius: 0px;
					border-style: none;
				}
				button {
					border-radius: 0px;
					background-color: #FCCE01;
					color: white;
					border-color: #FCCE01;
				}
			}
			.f4 {
				@include span-columns(10);
				@include shift(1);
				text-align: center;
				font-size: 1.8em;
				border-bottom: 1px solid #818181;
				text-decoration: underline;
					padding: 25px;
				a {
					color: #808282;
				}
			}
			.f5 {
				@include span-columns(10);
				@include shift(1);
				text-align: center;
				border-bottom: 1px solid #818181;
				padding: 25px;
				span {
					margin: 0px 10px;
				}
			}
			.f6 {
				@include span-columns(10);
				@include shift(1);
				text-align: center;
				margin-top: 10px;
			}
		}
	}
}