@import 'bootstrap';

.teaser1 {
	@media (max-width: 1200px) {
		background-size: 1215px 690px;
	}

	
	/*background-color: $blue;*/
	background-image: url('unsplash_1.jpg');
	background-size: 100% 100%;
	/*@include radial-gradient($blue*1.3, $blue);*/
	font-family: "Lato", sans-serif;
	color: white;
 	height: 100%;
 	font-size: 12px;
 	padding-bottom: 18%;

	.apl-name {
		font-size:3.6em;
		padding-top: 12%;
		font-weight: bold;
		text-align: center;
	}
	.apl-info {
		font-size: 1.4em;
		margin-top: 60px;
		margin-left: 1%;
	    font-weight: 200;
	    .ai-marg {
	    	margin-top: 5%;
	    }
	}
	.form-holder {
		padding: 20px 30px 0px 30px;
		background-color: rgba(0, 70, 128, 0.2);
		border-radius: 5px; 
		margin-top: 2%;
	}
	.call-to-action {
		font-size: 1.2em;
		text-align: left;
		margin-left: -2%;
		margin-top: -1%;
	}
}

