$footer-background: #333333;


.web-mockup {
  color: #818181;
  font-size: 16px;

  .home {
    .home-container {
      background-color: #3986c0;
      height: 100%;

      .container-top {
        top: 0px;
      }

      .container {
        width: 900px;

        .navbar-default {
          background-color: #3686be;
          border: none;
        }

        .nav-logo {
          width: 40px;
          height: 47px;
          margin-top: -2%;
        }
        
        .nav li a {
          margin-left: 32px;
          color: white;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;;
          text-decoration: none;
          letter-spacing: 1px;
        }

        .home-body {
          color: white;
          
          .text {
            padding-left: 0px;
            padding-top: 6%;
            
            h1 {
              font-size: 2.7em;
            }
            .app-info {
              font-size: 1.1em;
              padding-top: 12%;
            }

            .form-inline {
              @include clearfix;
              margin-top: 10%;
              .form-control {
                border: none;
                border-radius: 0px;
                width: 65%;
              }
              .btn {
                background-color: #48647c;
                border: none;
                border-radius: 0px;
                color: white;
                width: 34%;
                float: right;
                height: 47px;
              }
            }
            .input-info {
              font-size: 0.8em;
            }
          }

          .right {
            padding-right: 0px;
            .graphic {
              width: 100%;
              /*margin-left: 10%;*/
              margin-top: 15%;
            }
          }
          
          .icon {
            text-align: center;
            margin-top: 10%;
            a {
              color: white;
              font-size: 2em;
            }
          }
        }
      }
    }
  }

  .section {
    position: relative;
    .top {
      /*height: 30%;*/
      text-align: center;
      h1  {  
        font-size: 4em;
        /*padding: 16%;*/
      }
    }
    .container {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      width: 900px;
      height: 611px;  

      .describe {
        h1 {
          font-size: 4em;
        }
        p {
          font-size: 1.3em;
          margin-top: 6%;
        }  
      }

      .back-left {
        background-image: url('mob.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        height: 100%;
        position: relative;
        img {
          position: absolute;
          bottom: 0px;
          left: 30px;
        }
      }

      .back-right {
        background-image: url('mob.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        height: 100%;
        position: relative;
        img {
          position: absolute;
          bottom: 0px;
          right: 27px;
        }
      }

      .back2-right {
        background-image: url('back.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        position: relative;
        height: 100%;
        #screen-details-1 {
          position: absolute;
          bottom: -338px;
          right: 30px;
          clip: rect(0px, 299px, 503px, 0px);
        } 
        #screen-details-2 {
          position: absolute;
          bottom: -206px;
          right: 30px;
          clip: rect(0px, 299px, 709px, 0px);
        } 
      }

      @media (min-width: 500px) and (max-width: 1200px) {
        .back-right {
          background-size: 80%;
          img {
            width: 67%;
            right: 22px;
          }
        }
        .back-left {
          background-size: 80%;
          img {
            width: 67%;
            left: 25px;
          }
        }
        .back2-right {
          background-size: 80%;
          #screen-details-1 {
            width: 67%;
            position: absolute;
            bottom: -279px;
            right: 22px;
            clip: rect(0px, 299px, 503px, 0px);
          } 
          #screen-details-2 {
            width: 67%;
            position: absolute;
            bottom: -175px;
            right: 22px;
            clip: rect(0px, 299px, 709px, 0px);
          } 
        }
      }

      .call-to-action {
          img {
            width: 100%;
          }
      }

      .container-footer {
        top: 0px;
      }
    }

    .footer {
      @include clearfix;
      width: 100%;
      height: 150px;
      background-color: $footer-background;
      color: white;
      font-size: 0.9em;
      text-align: center;
      padding-top: 7px;
      position: absolute;
      bottom: 0px;
      .footer-title {
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        .footer-logo {
          width: 20px;
        }
      }
      .list {
        @include clearfix;
        color: $footer-background*3;
        font-weight: bold;
        line-height: 1.6;
      }
      .spec {
        line-height: 1.3;
        font-weight: normal;
        color: $footer-background*3;
      }
      .icons {
        border-bottom: 1px dotted $footer-background*3;
        padding-bottom: 5px;
        margin-top: 20px;
        a {
          color: white;
        }
        i {
          margin: 0px 10px;
        }
      }
      .copy {
        font-size: 0.8em;
        padding-top: 5px;
        color: $footer-background*2.5;
      }
    }
  }

}